body {
	margin: 0px;
	padding: 0px;
	font-family: "bn";
	letter-spacing: 2pt;
}

div.container {
	position: relative;
	max-width: 1400px;
	margin: 0px auto;
	padding: 0px 4.16667%;
}

a.logo {
	display: block;
	float: left;
}

a.logo img {
	height: 80px;
	margin: 10px;
}

div#top {
	position: relative;
	overflow: hidden;
	max-height: 100px;
	padding: 10px 0px;
	background-color: #dce1fc;
}

div#nav-menu {
	overflow: hidden;
	width: auto;
	float: right;
}

div#nav-menu ul {
	margin: 0px;
	list-style: none;
}

div#nav-menu ul li {
	margin: 0px;
	float: left;
	text-align: left;
	text-transform: uppercase;
	font-size: 16pt;
	letter-spacing: 5pt;
}

div#nav-menu ul li a {
	display: block;
	padding: 40px 20px;
	color: #000000;
	text-decoration: none;
	cursor: pointer;
}

div#nav-menu ul li a:hover {
	color: #4e60ce;
}

div.banner {
	padding: 50px 0px;
	text-align: center;
	background-color: #4e60ce;
}

div.banner p {
	max-width: 700px;
	margin: 0px auto;
	font-size: 28pt;
	color: #ffffff;
}

div.banner span#button-cont {
	font-size: 16pt;
	font-weight: bold;
	letter-spacing: 3pt;
}

div.banner span a#plan-button {
	display: inline-block;
	margin-top: 40px;
	padding: 0.7em 50px 0.8em;
	color: #ffffff;
	background-color: #4aba82;
	border-radius: 15px;
	text-decoration: none;
}